* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

.ant-tabs-ink-bar {
  height: 5px;
  border-bottom: 2px solid orange;
}

.ant-tabs-nav::before {
  border-bottom: none !important;
}
.ant-checkbox-input {
}
.ant-checkbox-inner {
  background: grey !important;
  border: none !important;
  padding: 8px !important;
}

.ant-checkbox-inner::after {
  display: flex !important;
  padding: 2px !important;
  align-items: center !important;
  justify-content: center !important;
}
